/* Add screen styles below */
body {
   background: #3b92bd;
   margin: 100px 0 0 0;
}

.card {
   background: #A5CBE9;
   color: #3b92bd;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card div{
    padding: 20px;
}

h1 {
    background:#273f5a;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    float: left;
    margin-right: 20px;
}
